.header {
  margin-top: 45px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

.header__divider {
  border-bottom: 1px solid #545454;
  opacity: 70%;
  flex-grow: 1;
  max-width: 880px;
  display: flex;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .header__divider {
    margin: auto;
  }
}

@media screen and (max-width: 621px) {
  .header__logo {
    padding-left: 27px;
    max-width: 126px;
    max-height: 24px;
  }
}
