.footer {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 621px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
